.icon {
  &-like {
    width: 0.8rem;
    height: 0.8rem;

    svg path {
      @include transition-25;

      fill: $dark;
    }

    &:hover {
      svg path {
        @include transition-25;

        fill: $like;
      }
    }
  }
}
