/* stylelint-disable length-zero-no-unit */
.custom {
  &-active {
    &-dot {
      animation: appearIn 0.2s ease;

      &_circle {
        stroke-width: 3px;
        fill: #fff;
      }

      &_hover {
        fill: #fff;
        opacity: 0.05;
      }
    }
  }
}

@keyframes appearIn {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
