/* stylelint-disable at-rule-no-unknown, declaration-colon-newline-after */
@mixin restrictor {
  content: '';
  position: fixed;
  right: 0;
  left: 0;
  background: $bg-dark;
}

.dashboard {
  &-section {
    &_restrictor {
      &-top {
        &-stripe {
          position: sticky;
          z-index: 2;
          top: 0;
          height: calc(1rem - 3px);
          background: $bg-border;
        }
      }

      &-bottom {
        &-stripe {
          position: sticky;
          z-index: 2;
          bottom: 0;
          width: inherit;
          height: calc(1rem - 2px);
          background: $bg-border;
        }
      }
    }

    &_charts {
      position: relative;
      width: inherit;
      height: inherit;

      &-wrapper {
        z-index: -1;
        padding: 0 2rem;
        background: linear-gradient(to top, $dashboard-bottom, $dashboard-top)
          no-repeat;
        background-attachment: fixed;
        background-position: 100% 100%;
      }
    }
  }
}

@media screen and (max-width: $bp-md) {
  .dashboard {
    &-section {
      &_charts {
        &-wrapper {
          border: 1em solid $bg-border;
          border-radius: 24px;
        }
      }

      &_restrictor {
        &-top {
          display: none;

          &-stripe {
            display: none;
          }
        }

        &-bottom {
          display: none;

          &-stripe {
            display: none;
          }
        }
      }
    }
  }
}
