.auth {
  &-wrapper {
    position: relative;
    overflow: hidden;
    height: inherit;
    padding: 4rem 0;
    transition: 0.25s ease-in-out all;
    border: 1em solid $bg-border;
    border-right: 0 solid transparent;
    border-radius: 24px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background: linear-gradient(to left, $sidebar-top, $sidebar-bottom);
    box-shadow: 0 0 0.4rem $bg-border;

    &_app {
      display: flex;
      flex: 1 1 auto;
      justify-content: center;
      margin-bottom: 2rem;

      &-link {
        width: inherit;
        user-select: none;
        color: $light;
        font-family: $medium;

        h4 {
          font-size: 1rem;
        }

        span {
          color: $dark;
          font-size: 1rem;
        }
      }

      &-logotype {
        position: relative;
        display: block;
        width: auto;
        height: 25px;
        background: url('@img/xymatic.svg') no-repeat center center;
        background-size: contain;
      }
    }
  }
}
