.custom {
  &-chart {
    &_legend {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 40px;

      &-title {
        color: $light;
        font-family: $medium;
        font-size: 1rem;
      }

      &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-item {
          position: relative;
          display: flex;
          margin-right: 0.8rem;
          user-select: none;
          font-family: $medium;
          font-size: 0.8rem;
          justify-content: space-between;
          align-items: center;
          flex-direction: row-reverse;

          span {
            display: block;
            position: relative;
            margin-right: 0.4rem;
            width: 7px;
            height: 7px;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
