.custom {
  &-pie {
    &-chart {
      height: inherit;

      &_feature {
        margin-bottom: 0.85rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        font-family: $medium;

        &-label {
          display: inline-flex;
          align-items: center;
          font-size: 0.7rem;
        }

        &-input {
          font-size: 0.7rem;
        }

        &-label span {
          // opacity: 0;
          padding-left: 0.7rem;
        }
      }

      &-wrapper {
        position: relative;
        display: block;
        overflow: hidden;
        width: 100%;
        height: inherit;
        cursor: pointer;
        transition: 0.35s ease all;
        border-radius: 12px;
        background: $chart-schema;
        box-shadow: 0 0 1rem $chart-schema;

        &_graph {
          height: 100%;
        }

        &_label {
          font-size: 1.4rem;
          fill: $light;
          font-weight: 500;
        }
      }
    }
  }
}
