.actions {
  &-wrapper {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: inherit;
    cursor: pointer;
    transition: 0.35s ease all;
    border-radius: 12px;
    background: $chart-schema;
    box-shadow: 0 0 1rem $chart-schema;
  }
}
