/* stylelint-disable declaration-colon-newline-after, at-rule-no-unknown, declaration-empty-line-before, at-rule-empty-line-before, no-descending-specificity */

@mixin sidebar-active-hover-links {
  .sidebar {
    &_navbar {
      &-link {
        filter: brightness(0) invert(1);
        transition: 0.25s ease all;

        &-bg {
          width: 100%;
          opacity: 1;
          border-radius: 16px;
        }
      }
    }
  }
}

.sidebar {
  position: sticky;
  top: 0;
  height: calc(100vh - 10rem);
  padding-top: 5rem;

  &_wrapper {
    position: relative;
    overflow: hidden;
    height: inherit;
    border-top: 1em solid $bg-border;
    border-bottom: 1em solid $bg-border;
    border-left: 1em solid $bg-border;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    background: linear-gradient(to bottom, $sidebar-top, $sidebar-bottom);

    &-aside {
      height: calc(100% - 5rem);
      margin-top: 5rem;
    }

    &-app {
      margin-top: 2rem;
      text-align: center;
      animation: fadeInOut 1.6s ease-in-out both;

      &-link {
        width: inherit;
        user-select: none;
        color: $light;
        font-family: $medium;

        h4 {
          font-size: 1rem;
        }

        span {
          color: $dark;
          font-size: 1rem;
        }
      }

      &-logotype {
        position: relative;
        display: block;
        width: auto;
        height: 25px;
        background: url('@img/xymatic.svg') no-repeat center center;
        background-size: contain;
      }
    }

    &-navbar {
      display: flex;
      flex: 0 1 auto;
      flex-direction: column;
      justify-content: space-between;
      height: inherit;
    }
  }

  &_navbar {
    &-active {
      color: $light !important;

      @include sidebar-active-hover-links;
    }

    &-link {
      position: absolute;
      top: 50%;
      left: 0;
      width: 1.25rem;
      height: 1.25rem;
      transform: translate(1.2rem, -50%);

      &_dashboard {
        background: url('@img/dashboard.svg') no-repeat center center;
      }

      &_impressions {
        background: url('@img/heart.svg') no-repeat center center;
      }

      &_plays {
        background: url('@img/play.svg') no-repeat center center;
      }

      &_posts {
        background: url('@img/mailbox.svg') no-repeat center center;
      }

      &_users {
        background: url('@img/user.svg') no-repeat center center;
      }

      &_analytics {
        background: url('@img/analytics.svg') no-repeat center center;
      }

      &_settings {
        background: url('@img/settings.svg') no-repeat center center;
      }

      &_logout {
        background: url('@img/logout.svg') no-repeat center center;
      }

      &-bg {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        transition: 0.25s ease all;
        opacity: 0;
        background: $active-bg-link;
      }
    }

    &-list {
      &-features {
        animation: fadeInOut 1.6s ease-in-out both;
        position: relative;
        z-index: 999;
        letter-spacing: 0.4px;
        font-weight: 600;

        @include flex;

        a {
          position: relative;
          z-index: 999;
          width: 100% !important;
          height: 100%;
          padding: 18px 3.8rem;
          transition: 0.25s ease all;
          color: $dark;
          font-size: 11px;

          &:hover {
            transition: 0.25s ease all;
            color: $light !important;

            @include sidebar-active-hover-links;
          }
        }

        li {
          margin-bottom: 12px;
        }
      }

      &-actions {
        animation: fadeInOut 1.6s ease-in-out both;
        color: $dark;
        font-weight: 600;

        @include flex;

        li {
          margin-bottom: 12px;
        }

        button {
          position: relative;
          display: inline-block;
          width: 100% !important;
          height: 100%;
          padding: 18px 3.8rem;
          transition: 0.25s ease all;
          color: $dark;
          font-size: 11px;

          &:hover {
            transition: 0.25s ease all;
            color: $light !important;

            @include sidebar-active-hover-links;
          }
        }
      }
    }
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: $bp-md) {
  .sidebar {
    position: sticky;
    top: 0;
    height: calc(100vh - 10rem);
    padding-top: 5rem;

    &_wrapper {
      border: 1em solid $bg-border;
      border-radius: 24px;
    }
  }
}
