/**
 * @at-root
 */
$bg-app: #121920;
$bg-dashboard: #171f2a;
$bg-border: #141923;

/**
 * @colors
 */
$dark: #556377;
$light: #fff;

$sidebar-top: #141b23;
$sidebar-bottom: #090d11;

$active-bg-link: #602dd3;

$dashboard-top: #171f2a;
$dashboard-bottom: #0d1117;

$profile-top: #151c26;
$profile-bottom: #0d1117;

$chart-purple: #602dd3;
$chart-blue: #3f4af1;
$chart-red: #ef263d;
$chart-schema: #1c2430;

$lazy-loading: #141b23;
$lazy-loading-bg: #602dd3;

$btn-border: #364151;
$btn-border-active: #fff;
$btn-purple: #602dd3;
$btn-blue: #3f4af1;
$btn-red: #ef263d;

$like: #ef263d;
$dislike: #3f4af1;

$inp-field: #141b24;
$inp-search: #1c2430;
$inp-purple: #602dd3;

$user-bg: #1d222f;
$user-border-bg: #1c2430;
