/**
 * @at-root
 */
$bg-app: #121920;
$bg-dashboard: #171f2a;
$bg-border: #141923;

/**
 * @colors
 */
$dark: #556377;
$light: #fff;

$sidebar-top: #141b23;
$sidebar-bottom: #090d11;

$active-bg-link: #602dd3;
