.dashboard {
  position: relative;

  &-wrapper {
    position: relative;
  }

  &_main {
    &-wrapper {
      position: sticky;
      top: 0;
    }
  }

  &_profile {
    &-wrapper {
      position: sticky;
      top: 0;
      height: calc(100vh - 10rem);
    }
  }
}
