.dashboard {
  position: relative;

  &_wrapper {
    top: 0;
    height: inherit;
    margin-top: 1rem;
    background: linear-gradient(to top, $dashboard-bottom, $dashboard-top);
    margin-bottom: 2rem;
  }

  &_profile {
    &-wrapper {
      top: 0;
      height: calc(100vh - 2rem);
      margin-top: 1rem;
      border-top-right-radius: 24px;
      border-bottom-right-radius: 24px;
      background: linear-gradient(to top, $profile-bottom, $profile-top);
    }
  }
}
