/* stylelint-disable at-rule-no-unknown */

.container {
  width: 100%;
  max-width: 1140px;
  padding-right: 1rem;
  padding-left: 1rem;
  margin: 0 auto;
}

.row {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
}

.row-b {
  @extend .row;

  margin: 0 -1rem;
}

.d-flex {
  display: flex !important;
}

.d-block {
  display: block !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-none {
  display: none !important;
}

.align {
  &-center {
    align-items: center !important;
  }

  &-left {
    align-items: center !important;
  }

  &-right {
    align-items: center !important;
  }
}

.justify {
  &-content {
    &-between {
      justify-content: space-between !important;
    }

    &-center {
      justify-content: center !important;
    }

    &-around {
      justify-content: space-around !important;
    }
  }
}

.flex {
  &-wrap {
    flex-wrap: wrap !important;
  }

  &-nowwrap {
    flex-wrap: nowrap !important;
  }
}

@for $i from 1 through 12 {
  .col-#{$i} {
    max-width: calc((100% * #{$i}) / 12) !important;
    position: relative;
    flex-wrap: wrap;
    width: 100%;
    // flex: 0 0 calc(100% * (1 - (1 / #{$i})));
  }

  .col-b-#{$i} {
    @extend .col-#{$i};

    padding: 0 1rem;
  }
}

@for $i from 1 through 5 {
  .mx-#{$i} {
    margin: 0 $i * 1rem !important;
  }
  .mr-#{$i} {
    margin-right: $i * 1rem !important;
  }
  .ml-#{$i} {
    margin-left: $i * 1rem;
  }
  .mb-#{$i} {
    margin-bottom: $i * 1rem;
  }
  .mt-#{$i} {
    margin-top: $i * 1rem;
  }
}

.mx {
  &-auto {
    margin: 0 auto !important;
  }
}

@for $i from 1 through 5 {
  .pr-#{$i} {
    padding-right: $i * 1rem !important;
  }
  .pl-#{$i} {
    padding-left: $i * 1rem !important;
  }
  .px-#{$i} {
    padding: 0 $i * 1rem !important;
  }
  .pb-#{$i} {
    padding-bottom: $i * 1rem;
  }
  .pt-#{$i} {
    padding-top: $i * 1rem;
  }
}

.px {
  &-auto {
    padding: 0 auto !important;
  }
}

.text {
  &-center {
    text-align: center !important;
  }

  &-left {
    text-align: left !important;
  }

  &-right {
    text-align: right !important;
  }
}

.bg {
  &-dark {
    z-index: -1;
    background: $bg-dark;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@media (max-width: $bp-lg) {
  .container {
    max-width: $lg;
  }

  @for $i from 1 through 12 {
    .col-lg-#{$i} {
      max-width: calc((100% * #{$i}) / 12) !important;
      position: relative;
      flex-wrap: wrap;
      padding: 0 15px;
      width: 100%;
      // flex: 0 0 calc(100% * (1 - (1 / #{$i})));
    }

    .col-b-lg-#{$i} {
      @extend .col-lg-#{$i};

      padding: 0 1rem;
    }
  }
}

@media (max-width: $bp-md) {
  .container {
    max-width: $md;
  }

  @for $i from 1 through 12 {
    .col-md-#{$i} {
      max-width: calc((100% * #{$i}) / 12) !important;
      position: relative;
      flex-wrap: wrap;
      padding: 0 15px;
      width: 100%;
      // flex: 0 0 calc(100% * (1 - (1 / #{$i})));
    }

    .col-b-md-#{$i} {
      @extend .col-md-#{$i};

      padding: 0 1rem;
    }
  }
}

@media (max-width: $bp-sm) {
  .container {
    max-width: $sm;
  }

  @for $i from 1 through 12 {
    .col-sm-#{$i} {
      max-width: calc((100% * #{$i}) / 12) !important;
      position: relative;
      flex-wrap: wrap;
      padding: 0 15px;
      width: 100%;
      // flex: 0 0 calc(100% * (1 - (1 / #{$i})));
    }

    .col-b-sm-#{$i} {
      @extend .col-b-sm-#{$i};

      padding: 0 1rem;
    }
  }
}

@media (max-width: $bp-xs) {
  .container {
    max-width: $xs;
  }

  @for $i from 1 through 12 {
    .col-xs-#{$i} {
      max-width: calc((100% * #{$i}) / 12) !important;
      position: relative;
      flex-wrap: wrap;
      padding: 0 15px;
      width: 100%;
      // flex: 0 0 calc(100% * (1 - (1 / #{$i})));
    }

    .col-b-xs-#{$i} {
      @extend .col-xs-#{$i};

      padding: 0 1rem;
    }
  }
}
