.lazy {
  &-loading {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s ease-in-out all;
    opacity: 0.9;
    background-color: $lazy-loading;

    &_container {
      position: relative;
      top: 50%;
      display: block;
      transform: translateY(-50%);
      margin: 0 auto;
    }

    &_item {
      &-logo {
        position: relative;
        display: block;
        width: auto;
        height: 2rem;
        background: url('@img/xymatic.svg') no-repeat center center;
        background-size: contain;
        animation: blockMove 1s ease-in-out infinite alternate;
      }
    }
  }
}

@keyframes blockMove {
  0% {
    filter: invert(0%);
  }

  50% {
    filter: invert(40%);
  }

  100% {
    filter: invert(0%);
  }
}
